[submodule "lib/PcapPlusPlus"]
	path = lib/PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/inotify-cpp"]
	path = lib/inotify-cpp
	url = https://github.com/d86leader/inotify-cpp
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
